

h1, h2, h3, h4, h5, h6 {	margin: 0;	font-weight: 600;	color: #474747;
}

h1 {	font-size: 80px;}

h2 {	font-size: 46px;}

h3 {	font-size: 40px;}

h4 {	font-size: 34px;}

h5 {	font-size: 30px;}

h6 {	font-size: 26px;}

p {
	font-size: 24.1px;
	color: #878787;
	line-height: 2.2;
	font-weight: 500;
}

img {	max-width: 100%;}
input:focus, select:focus, button:focus,
textarea:focus {	outline: none;}
a:hover {	color: #d82a4e;}
a:hover, a:focus {	text-decoration: none;	outline: none;
}

ul,ol {	padding: 0;	margin: 0;
}
.main-menu ul {	list-style: none;
}

.main-menu ul li {	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 45px;
	font-weight: 600;
	padding: 20px 0 5px;
}

.main-menu ul li a:hover {	color: #d82a4e;
}

.section-title {
	text-align: center;
	padding: 0 110px;
	margin-bottom: 110px;
}

.section-title h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 25px;
}

.section-title p {
	margin-bottom: 0;
	font-weight: 500;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 115px;
	padding-bottom: 115px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}
.site-btn {
	display: inline-block;
	min-width: 196px;
	text-align: center;
	border: none;
	padding: 15px 10px;
	font-weight: 600;
	font-size: 16px;
	position: relative;
	color: #fff;
	cursor: pointer;
	background: blue;
}

.site-btn:hover {	color: #fff;
}

.site-btn.btn-dark {
	background: #000;
}

.site-btn.btn-fade {
	background: #e4edef;
	color: #1f1f1f;
}
.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 60px;
}

.site-logo {
	display: inline-block;
}
.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}
.hero-section {
	height: 948px;
}

.hero-text {
	text-align: center;
	padding-top: 340px;
	margin-bottom: 105px;
}

.hero-text h2 {
	font-size: 60px;
	font-weight: 500;
	margin-bottom: 20px;
}

.intro-newslatter input[type=text],
.intro-newslatter input[type=password]{
	height: 53px;
	width: 36.4%;
	padding: 0 30px;
	margin-right: 22px;
	float: left;
	border: none;
	font-size: 14px;
}

.intro-newslatter .site-btn {
	min-width: 214px;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1180px;
	}
}

@media (max-width: 1705px) {
	.realated-courses .owl-next {
		position: relative;
		margin: 0 auto;
		left: 0;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu ul li a {
		margin-left: 38px;
	}
	.header-btn {
		min-width: 160px;
	}
	.hero-text h2 {
		font-size: 55px;
	}
	.intro-newslatter .site-btn {
		min-width: 160px;
	}

  @media only screen and (max-width: 767px) {
  	.section-title {
  		padding: 0;
  	}
  	.section-title h2 {
  		font-size: 40px;
  	}
  	.header-btn {
  		display: none;
  	}
  	.nav-switch {
  		display: block;
  		float: right;
  		color: #333;
  		font-size: 25px;
  		width: 40px;
  		height: 40px;
  		background: #fff;
  		text-align: center;
  		padding-top: 2px;
  		-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  		box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  	}
    .main-menu {
      background: #fff;
      margin-top: 22px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      display: none;
      z-index: 999;
    }
    .main-menu ul li {
      display: block;
    }
    .main-menu ul li a {
      margin-left: 0;
      padding: 17px 25px;
      border-bottom: 1px solid #e8e8e8;
      display: block;
      color: #474747;
    }

    /* Medium Mobile :480px. */

    @media only screen and (max-width: 576px) {
    	.hero-section {
    		height: auto;
    	}
    	.intro-newslatter {
    		padding-bottom: 100px;
    	}
    	.intro-newslatter input[type=text],
    	.intro-newslatter input[type=email] {
    		margin-bottom: 20px;
    		width: 100%;
    		margin-right: 0;
    	}
    	 .site-btn {
    		min-width: auto;
    		padding: 16px 20px;
    	}

      @media only screen and (max-width: 479px) {
      	.section-title h2 {
      		font-size: 30px;
      	}
         .site-btn {
      		min-width: auto;
      		padding: 17px 20px;
      	}

				.error_form {
					font-size: 15px;
					font-family: Arial;
					color: #FF0052;
				}
				.error_form2 {
					font-size: 15px;
					font-family: Arial;
					color: yellow;
				}
